@model List<Phonebook.Models.Student>;

@{
    ViewData["Title"] = "Student Page";
}

<div>
    <div class="container"> 
        <div class="row d-flex gap-1">
            <a href="Student" class="card text-bg-secondary mb-3 col-12 col-sm-6 col-md-3">
                <div class="card-header hometab" >
                    <img src="./assets/Person.svg" alt="person" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                </div>
            </a>

            <a href="Course/ViewCourses" class="card text-bg-secondary mb-3 col-12 col-sm-6 col-md-3">
                <div class="card-header hometab">
                    <img src="./assets/Courses.svg" alt="person" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Courses</h5>
                </div>
            </a>

            <a href="Score" class="card text-bg-secondary mb-3 col-12 col-md-6 col-lg-3">
                <div class="card-header hometab">
                    <img src="./assets/Scores.svg" alt="person" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Scores</h5>
                </div>
            </a>

        </div>
    </div>

	
</div>
