@model List<Phonebook.Models.Student>;

@{
    ViewData["Title"] = "Students";
}

<div>
    <div>
        <div class="input-group mb-3 mt-2  justify-content-center">
            <input type="text" class="form-control searchbar" placeholder="Search Students" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                <img class="searcico" src="/assets/search.svg" alt="o" />
            </button>
        </div>
    </div>

    <div class="container">
        <a class="btn btn-primary ml-auto mb-4" asp-action="AddStudent" asp-controller="Student"> Add A New Student </a>
        <div class="row gap-1 d-flex">
            @foreach (var contact in Model)
            {
                <div class="card my-2 col-sm-12 col-md- col-lg-4">
                    <div class="card-body">
                        <h5 class="card-title">@contact.First_name @contact.Last_name</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">@contact.Admission_number</h6>
                        <p class="card-text"> @contact.Course_of_study</p>
                        <a href="Student/ViewStudent/@contact.Id" class="card-link btn btn-info">View</a>
                        <a href="/Student/Edit/@contact.Id" class="card-link btn btn-primary"><img src="/assets/Edit.png" alt="Edit" /></a>
                        <a href="/Student/Delete/@contact.Id" class="card-link btn btn-danger"> Delete</a>
                    </div>


                </div>
            }
        </div>
    </div>

	
</div>
