@model Phonebook.Models.Course

<div class="card">
    <div class="card-body">
        <p> Title : @Model.Title</p>
        <p> Code : @Model.Code</p>
        <p> Unit : @Model.Unit</p>
    </div>
</div>